<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">

    <title>Document</title>
</head>
<body>
    <%- include('../../layout/header')  %>
    
    
    <form  action="/searches" method="post">
        <input id="input" type="text" placeholder="ÙEnter a title or author" name="searchbox" >
        <br>
        <br>
        <fieldset class="title">
        <label for="Title">Title</label>
        <input class="span" type="radio" name="radioselect" value="Title">
        <br>
        <br>
    </fieldset>
        <fieldset class="author">
        <label for="Author">Author</label>
        <input class="span" id ="tit" type="radio" name="radioselect" value="Author">
    </fieldset>
        <br>
        <br>
        <button class="span" id="butsearch" type="submit">Search the google Books API</button>
    </form>
    <footer> <span class="dot"></span> <span class="dot"></span>
        <span class="dot"></span> <span class="dot"></span>
    </footer>
</body>
</html>