
  body{
    background: rgb(53, 52, 52);
  }

  
  .mobile-container {
      max-width: 100%;
      margin: auto;
      background-color: rgba(147, 133, 173, 0.363);
      height: auto;
      color: rgb(0, 0, 0);
      border-radius: 15px;
      box-shadow: 5px 10px 8px #f5e7e7;
    }

    .topnav {
      overflow: hidden;
      background-color: rgb(17, 17, 17);
      position: relative;
      border-radius: 15px;
      overflow-y: auto;
      transition: 0.3s;
    }

   
    .topnav a {
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      display: block;
    }

    .topnav a:hover {
      background-color: rgba(248, 189, 238, 0.411);
      color: #ffffff;
      transition: 400ms;
    }

    .active {
      background-color: rgb(242, 240, 245);
      color: white;
      border-radius: 10px;
    }
    

    #det{
      background-color: rgba(255, 255, 255, 0.397);
      margin: 25px;
      width: 290px;
      height: auto;
      border: 1px solid rgba(0, 0, 0, 0.698);
      border-radius: 5px;
      box-shadow: 5px 10px 8px #000000;
      text-align: center;
      transition: 900ms;
      cursor: pointer;
      padding-left: 15px;
      padding-right: 15px;
    }
    #det:hover{
      transform: scale(1.1);
      transition: 900ms;
    }


    .contaier{
      display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1020px;
        cursor: pointer;
    }



   #viewbtn{
      text-align: center;
      transition: 900ms;
      border-radius: 25px;
      width: 150px;
      height:25px;
      padding: 25px;
      margin-left: -10px;
      margin-top: 20px;
      cursor: pointer;
      box-shadow: 5px 10px 8px #000000;
      margin-bottom: 50px;
      }
      
      #viewbtn:hover{
        background-color: rgba(0, 15, 221, 0.739);
        transform: scale(1.1);
        transition: 900ms;
      }

      h2
      {
          margin-top: 25px;
          margin-bottom: 15px;
          font-family: 'Merienda', cursive;
          text-align: center;
          font-size: 35px;
      }
      input{
        background-color:rgba(255, 255, 255, 0.424);
        border-radius: 25px;
        height:30px;
      }
      .title{
        font-family: 'Shadows Into Light', cursive;
        float: left;
        background-color: rgba(235, 184, 255, 0.657);
          margin: 15px;
          /* width: 185px; */
          height: 50px;
          border: 1px solid rgb(112, 112, 112);
          border-radius: 5px;
          box-shadow: 5px 10px 8px #000000;
          text-align: center;
          transition: 900ms;
      
      }
      .author{
        font-family: 'Shadows Into Light', cursive;
        background-color: rgba(235, 184, 255, 0.657);
        margin: 15px;
        /* width: 185px; */
        height: 50px;
        border: 1px solid rgb(112, 112, 112);
        border-radius: 5px;
        box-shadow: 5px 10px 8px #000000;
        text-align: center;
        transition: 900ms;
       
      }
      .title:hover, .author:hover{
        transform: scale(1.1);
        transition: 900ms;
      }

.span{
        cursor: pointer;
        margin-top: -17px;
      }
form{
  display: grid;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

label
{
  display: flex;
  padding-left: 100px;
  transform: translate3d(20px, 15px, 10px);
}

#butsearch
{
  text-align: -webkit-center;
  width: -webkit-fill-available;
  text-align: center;
  transition: 900ms;
  border-radius: 25px;
  padding: 25px;
  margin-left: -10px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 5px 10px 8px #000000;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;

}
.addbtn{
  text-align: center;
  transition: 900ms;
  border-radius: 25px;
  padding: 25px;
  margin-left: -10px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 5px 10px 8px #000000;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;

}
.delbtn{
  text-align: center;
  transition: 900ms;
  border-radius: 25px;
  padding: 25px;
  margin-left: -10px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 5px 10px 8px #000000;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
}
.upbtn{
  text-align: center;
            transition: 900ms;
            border-radius: 25px;
            padding: 25px;
            margin-left: -10px;
            margin-top: 20px;
            cursor: pointer;
            box-shadow: 5px 10px 8px #000000;
            margin-bottom: 50px;
            justify-content: center;
            align-items: center;
            width: 250px;
}

    @media only screen and (max-width: 500px)
    {

      /* body {
          background-image: url(https://www.droidviews.com/wp-content/uploads/2019/09/oneplus-7t-pro-wall-droidviews-04.jpg);
          background-size: 100%;
          background-attachment: fixed;
          } */
          body{
            background: rgb(53, 52, 52);
          }
        
      .mobile-container {
          max-width: 480px;
          margin: auto;
          background-color: rgba(147, 133, 173, 0.363);
          height: auto;
          color: rgb(0, 0, 0);
          border-radius: 15px;
          box-shadow: 5px 10px 8px #000000;
        }
  
        .topnav {
          overflow: hidden;
          background-color:  rgb(17, 17, 17);
          position: relative;
          border-radius: 15px;
          overflow-y: auto;
          transition: 0.3s;
        }
  
        .topnav #myLinks {
          display: none;
        }
  
        .topnav a {
          color: white;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 20px;
          display: block;
        }
  
        .topnav a:hover {
          background-color: rgba(248, 189, 238, 0.411);
          color: #ffffff;
          transition: 400ms;
        }
  
        .active {
          background-color: rgb(242, 240, 245);
          color: white;
          border-radius: 10px;
        }
        
  
        #det{
          background-color: rgba(255, 255, 255, 0.397);
          margin: 25px;
          width: 290px;
          height: auto;
          border: 1px solid rgba(0, 0, 0, 0.698);
          border-radius: 5px;
          box-shadow: 5px 10px 8px #000000;
          text-align: center;
          transition: 900ms;
          cursor: pointer;
        }
        #det:hover{
          transform: scale(1.1);
          transition: 900ms;
        }
  
  
        .contaier{
          display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1020px;
            cursor: pointer;
        }
        /* .tog{

        }
   */
    }
    

    @media only screen and (max-width: 375px)
    {
      /* body {
          background-image: url(https://www.droidviews.com/wp-content/uploads/2019/09/oneplus-7t-pro-wall-droidviews-04.jpg);
          background-size: 100%;
          background-attachment: fixed;
          } */
          body{
            background: rgb(53, 52, 52);
          }
        
      .mobile-container {
          max-width: 480px;
          margin: auto;
          background-color: rgba(147, 133, 173, 0.363);
          height: auto;
          color: rgb(0, 0, 0);
          border-radius: 15px;
          box-shadow: 5px 10px 8px #000000;
        
        }
        
        .topnav {
          overflow: hidden;
          background-color:  rgb(17, 17, 17);
          position: relative;
          border-radius: 15px;
          overflow-y: auto;
          transition: 0.3s;
        }
        
        .topnav #myLinks {
          display: none;
        }
        
        .topnav a {
          color: white;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 20px;
          display: block;
        }
        
        .topnav a.icon {
          background: rgba(111, 80, 151, 0);
          display: block;
          position: absolute;
          border-radius: 5px;
          right: 0;
          top: 0;
        }
        
        .topnav a:hover {
          background-color: rgba(248, 189, 238, 0.411);
          color: #ffffff;
          transition: 400ms;
        }
        
  
        .active {
          background-color: rgb(242, 240, 245);
          color: white;
          border-radius: 10px;
        }
        
  
        #det{
          background-color: rgba(255, 255, 255, 0.397);
          margin: 25px;
          width: 290px;
          height: auto;
          border: 1px solid rgba(0, 0, 0, 0.698);
          border-radius: 5px;
          box-shadow: 5px 10px 8px #000000;
          text-align: center;
          transition: 900ms;
          cursor: pointer;
        }
        #det:hover{
          transform: scale(1.1);
          transition: 900ms;
        }
  
  
        .contaier{
          display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1020px;
            cursor: pointer;
        }
    }