  <header>
    <div class="mobile-container">
        <!-- Top Navigation Menu -->
        <div class="topnav">
          <a href="/" class="active">Home</a>
          <div id="myLinks">
              <a href="/searches/new">Add new Book! </a>
          </div>
          
        </div>
    </header>